
main {
    width: 80%;
    margin: auto;
}

nav {
    background-color: rgb(185, 255, 255);
    padding: 10px;
}

nav ul {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 60%;
}

nav ul li {
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
}

nav ul li:hover {
    background-color: rgb(77, 77, 77);
}

nav ul li a:hover {
    color: brown;
}

.lenyil {
    position: relative;
}

.al_m {
    display: none;
    position: absolute;
    margin: auto;
    width: 50%;
}

.al_m>li {
    background-color: azure;
    border: solid 1px gray;
    margin: 0;
    border-radius: 2px;
}

.al_m>li>a {
    color: black;
}

.al_m>li>a:hover {
    color: azure;
}

.lenyil:hover .al_m {
    display: block;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

article>img {
    width: 100%;
    margin: auto;
    margin: 10px;
}

aside>img {
    width: 100%;
}

.infopanel{
    position: absolute;
    width: 300px;
    height: 100px;
    background: white;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    border-radius: 10px;
    
}
