main, header, article, aside, nav {
    border: solid 1px black;
    padding: 5px;
}

main {
    width: 80%;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav ul li {
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
}

nav ul li:hover {
    background-color: rgb(77, 77, 77);
}

nav ul li a:hover {
    color: brown;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article>img {
    width: 100%;
    margin: auto;
    margin: 10px;
}

aside>img {

}

.fixed{
    position: fixed;
    width: 300px;
    height: 100px;
    background: white;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}